<article class="post">
  <div class="title">
      <h4>{{title}}</h4>
  </div>
  <div class="meta">
    {{user.username}} on {{format_date created_at}}
    <a href="/post/{{id}}"></a>
  </div>
</article>