<article class="post">
<div class= "drink">
    <div>here is the image</div>
    <h3>here is the drink name</h3>
</div>
<div class= "text_area">
<div class="first_row">
    <p>title of post</p>
    <a>date</a>
</div>
<div class="main_text">
    <p>Here is all the main text for the post.</p>
</div>
<div class="last_row">
    <a>Star rating</a>
    <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
</div>
</div>
</article>