<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Drinkology</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>

<body>
  <div>
  <header>
    <h1>
      <a class="title" href="/">Drinkology</a>
    </h1>
    <nav>
      {{#if loggedIn}}
      <a href="/dashboard">dashboard</a>
      <a id="logout" class="btn-no-style">logout</a>
      {{else}}
      <a href="/login">login</a>
      {{/if}}
    </nav>
    
  </header>
    <main class="content">
      {{{ body }}}
    </main>
    <footer class="footer">
      Thanks for visiting!
    </footer>
  </div>

{{#if loggedIn}}
<script src="/javascript/logout.js"></script>
{{/if}}

<script src="/javascript/dashboard.js"></script>
</body>

</html>