
<link rel="stylesheet" href="stylesheets/{{style}}">
<div class="form-inline d-flex justify-content-center md-form form-sm"></div>
    <input class="form-control form-control-sm mr-3 w-75" id="drink-search"> 
    <button  class="btn btn-default" id="search-button">Search</button>
    
</div>

<form class="form-inline active-pink-3 active-pink-4">
  <i class="fas fa-search" aria-hidden="true"></i>
  <input class="form-control form-control-sm ml-3 w-75" type="text" placeholder="Search"
    aria-label="Search">
</form>

<script src="/javascript/dashboard.js"></script>

