<<<<<<< HEAD
<div class="dashboard-wrapper">
=======
<div class="dashboard-wrapper"></div>
>>>>>>> 89c8f1a5abafe715619521101b8b985827ffcc9e
    <input id="drink-search"> <button id="search-button">Search</button>
</div>

<script src="/javascript/dashboard.js"></script>