<div>
    <input id="drink-search"> <button id="search-button">Search</button>
    {{!-- {{#if drinks.length}}
    <div id="search-results">
            {{#each drinks as |drink|}}
                {{> post-details}}
            {{/each}}
    </div>
    {{/if}} --}}
</div>

<script src="/javascript/dashboard.js"></script>