

<link rel="stylesheet" href="stylesheets/{{style}}">

<body  class="login-page">
 <div class="form-container">
   <div class="box">
    <div style=" display:none;" class="signup-form" id="signup-form">
      <input type="text"  id="email-signup" placeholder="Your Email Address" class="input"> <br>
      <input type="text"  id="username-signup" placeholder="Username" class="input"><br>
      <input type="text"  id="password-signup" placeholder="Password" class="input"><br>
      <button type="submit" class="btn" id="submit-btn">Create Account</button><br>
       {{!-- <div  class="login" id="login-redirect">log in</div> --}}
    </div>
    <div class="login-form" id="login-form">
     <input type="text"  id="username-input-login" placeholder="Username" class="input"><br>
     <input type="password"  id="password-input-login" placeholder="Password" class="input"><br>
    <button class="btn" type="submit" id="login-btn"> log in</button><br>
    <div class="signup" id="signup-btn">sign up</div>
    </div>
     
</div>
 </div>
 

</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="/javascript/login.js"></script>
<script src="/javascript/signup.js"></script>


