

<link rel="stylesheet" href="stylesheets/{{style}}">
<body  class="login-page">
<div class="wrapper">

 <div class="container">

   <div class="signup">sign up</div>
   <div class="login">log in</div>
  
    <div class="signup-form">
      <input type="text"  id="username-signup" placeholder="Your Email Address" class="input">  <br>
      <input type="text"  id="password-signup" placeholder="Username" class="input"><br>
      <input type="password"  id="email-signup" placeholder="Password" class="input"><br>
      <div type="submit" class="btn">Create Account</div><br>
    </div>

    <div class="login-form">
     <input type="text"  id="username-input-login" placeholder="Username" class="input"><br>
     <input type="password"  id="password-input-login" placeholder="Password" class="input"><br>
    <div class="btn" type="submit" id="login-btn" >log in</div><br>
    </div>

 </div>
 

</body>
<script src="/public/javascript/login.js"></script>

