.jumbotron-container {
    background-image: url(../images/cocktail2.jpeg);
}

h1, .lead-text  {
  color: rgb(207, 207, 204);
}

h1 {
  font-size : 300% ; 
}

#drink-form{
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.title:hover:hover {
  color : lightslategray;
}

.box {
  width: 50%;
  height: 100%;
}

.dashboard-container {
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/cocktail2.jpeg);
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}