/* 
body{
	margin:0;
  background-color: #efefef;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 0 auto;
}
header {
	font-size: 20px;
	background-color: black;
	color: #cccccc;
	height: 75px;
}
#topbar{
	width:75%;
	margin-left: auto ;
    margin-right: auto ;
}
nav {
	display: inline;
  padding-right: 30px;
  float: right;
}

nav a {
  padding: 0px 10px 10px 10px;
  border: #225ca3 1px solid;
}

.title {
	float:left;
	font-size:30px;
	padding-left:20px;
	padding-top:20px;
}

button {
  background-color: #225ca3;
  border: 0;
  padding: 1%;
  color: white;
  font-weight: bold;
  transition: background-color .1s;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #3486eb;
}

/* this is what will hold the post*/
.box{
	margin-top: 20px;
	width:75%;
	margin-left: auto ;
    margin-right: auto ;
    height: 400px;
}

.post{
	margin-top:20px;
	float:left;
}
.heading{
	font-size: 36px;
	margin-bottom:20px;
}
/* .sidebar{
	float:right;
} */
/* 
footer{	
	color: white;	
	margin-left: auto ;    
	margin-right: auto ;	
	font-size:16px;	
	min-height: 50px;	
	padding:20px;	
  background-color: black;	
  flex-shrink: 0;
} */ */

/* Main page */

body {
  padding-top: 3.5 rem;
  
}

.title{
  text-decoration: none;
}


h1 {
	font-family: 'Fjalla One', sans-serif;
	color:black;
}

a , .title , #login , #copright ,#copyright {
	color: #2F4F4F;
	text-decoration: none;
	
}

	
.jumbotron {
		 background-image: url('../images/cocktails.jpeg');
		 background-size: cover;
		 position: absolute;
  		 top:0px;
  		 left:0px;
  		 width: 100%;
  		 height: 100%;
		 opacity: 85%;
	
		 
		
	}

.container{
	padding-top: 30%;
	

	
}

footer {
	width: 100%;
	height: 10%;
	background-color: #F8F8FF;
}



@media (max-width: 768px) {
  h1 {
	font-size :40px;
}
}
@media (max-width: 576px) {
  
h1 {
	font-size :40px;
}
.jumbotron {
		 background-image: url('../images/cocktails.jpeg');
		 background-size: cover;
		 position: absolute;
  		 

  
}
}

@media (max-width: 375px) {
  
h1 {
	
	font-size: 40px !important;
}
.jumbotron {
		 background-image: url('../images/cocktails.jpeg');
		 background-size: cover;
		 position: absolute;
}
}
	
@media only screen and (max-width: 600px) {
  h1 {
	font-size: 30px !important;

  }
  
  .jumbotron {
		 background-image: url('../images/cocktails.jpeg');
		 background-size: cover;
}
}
